<div class="col-sm-4 text-center">
    <div class="panel panel-default">
        <div class="panel-body">
            <i class="fa fa-user front-page-icon-font"></i><br />
            Manage Faculty
        </div>
    </div>
</div>