<div class="col-sm-4 text-center">
   <button type="button" class="btn btn-default" data-container="body" data-toggle="popover2" data-placement="bottom"  style ="width:100%">
            <i class="fa fa-retweet front-page-icon-font"></i><br />
            Assign Faculty for Student<br />
        </button>
</div>