<div class="col-sm-4 text-center">
   
    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover1" data-placement="bottom" data-content= '<%= render partial: "student_content" %>'.html_safe style ="width:100%">
            <i class="fa fa-graduation-cap front-page-icon-font"></i> <br />
            Manage Students
    </button>
</div>