
<div class="container">
    <div class="row">
             <%= render partial: "student" %>
             <%= render partial: "link_student_faculty" %>
             <%= render partial: "faculty" %>
    </div>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover1"]').popover();   
});

</script>
