<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <a href= <%= available_courses_path %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-search front-page-icon-font"></i> <br />
                Browse Available Courses
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-eye front-page-icon-font"></i> <br />
                View Opted courses 
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-book front-page-icon-font"></i> <br />
                Pdf Material
        </button>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-video-camera front-page-icon-font"></i> <br />
                Vedio Classes
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-certificate front-page-icon-font"></i> <br />
                Get certified
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-pencil-square-o front-page-icon-font"></i> <br />
                Write exam
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-calendar front-page-icon-font"></i> <br />
                Schedule Exam
        </button>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-flag-checkered front-page-icon-font"></i> <br />
                View Report
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-share-square-o front-page-icon-font"></i> <br />
                Share Your Thoughts
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-comments-o front-page-icon-font"></i> <br />
                Chat Room 
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-users front-page-icon-font"></i> <br />
                Groups
        </button>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-sticky-note-o front-page-icon-font"></i> <br />
                Make Your Notes
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-fort-awesome front-page-icon-font"></i> <br />
                Upcomming Compitations
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-university front-page-icon-font"></i> <br />
                University syllabus 
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-info-circle front-page-icon-font"></i> <br />
                Mess Helpdesk
        </button>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <button type="button" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-wrench front-page-icon-font"></i> <br />
                Your Settings
        </button>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
